

<form action="./updateUser" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value={{dulieu._id}}>
    <input name="username" value="{{dulieu.username}}" placeholder="user Name">
    <input name="date" value="{{dulieu.date}}" placeholder="ngay sinh">
    <input name="mail_sdt" value="{{dulieu.mail_sdt}}" placeholder="mail">
    <input name="introduce_yourself" value="{{dulieu.introduce_yourself}}" placeholder="GT ban than">
    <input name="avartar" type="file" value="{{dulieu.avartar}}" >
    <button type="submit">Save</button>
</form>